$button-color: #125688;
$button-box-shadow: 0px 9px 0px;
$button-box-shadow-depressed: 0px 2px 0px;

@mixin transform($params) {
  -webkit-transform: $params;
  -ms-transform: $params;
  transform: $params;
}

@keyframes button-prompt {
  from {
    visibility: hidden;
    @include transform(translateY(-50px));
  }

  10% {
    @include transform(translateY(0px));
  }

  to {
    visibility: visible;
    @include transform(translateY(0px));
  }
}

@mixin button-prompt-animation {
  animation-name: button-prompt;
  animation-duration: 10s;
}

@keyframes push {
  0% {
    @include transform(translateY(0px));
    box-shadow: $button-box-shadow darken($button-color, 5%);
  }

  50% {
    @include transform(translateY(7px));
    box-shadow: $button-box-shadow-depressed darken($button-color, 5%);
  }

  100% {
    @include transform(translateY(0px));
    box-shadow: $button-box-shadow darken($button-color, 5%);
  }
}

@mixin push-animation {
  animation-name: push;
  animation-duration: 1s;
  animation-iteration-count: 2;
  animation-delay: 1s;
}
